//- index__events

//- this is the tab  content inside the tab "events" in the home page
//- dependencies : index.jade

h3.c-linetitle
	span 
		if (language =="es")
			| Eventos en Holbox este !{dayThree.es}
		else 
			| Events in Holbox this #{dayThree.en}

+allEvents(dayThree,dayThreeList,dayThreeEvents,repeatEvents)


if isEmpty == true
	if (language =="en")
		p Oh oh, it seems there are no events this #{dayThree.en}. 
		+c-button--section("#"+tab4_id)
			| Try our events for #{dayFour.en}
	else 
		p Oh oh, al parecer no hay eventos este !{dayThree.es}. 
		+c-button--section("#"+tab4_id)
			| Prueba eventos para !{dayFour.es}
//- // advert component
//- section.c-block--advert
//- 	| advertisement
//- 	a.c-advert(href="#")
//- 		img.c-advert__creative(src="/images/advertbox.png")
